In [1]:
import pandas as pd

In [59]:
data = pd.read_csv('P8.csv', header=None, sep=' ', names=['cmd', 'value'])
data['key'] = data.index.astype('str') + '_ ' + data['cmd'] + ' ' + data['value'].astype(str)
data

     cmd  value           key
0    acc      0      0_ acc 0
1    jmp    516    1_ jmp 516
2    acc    -16    2_ acc -16
3    nop    326    3_ nop 326
4    jmp    366    4_ jmp 366
..   ...    ...           ...
605  acc     -2   605_ acc -2
606  acc     25   606_ acc 25
607  nop    -68  607_ nop -68
608  acc     14   608_ acc 14
609  jmp      1    609_ jmp 1

[610 rows x 3 columns]

### part1

In [61]:
lista = []
accumulator = 0
pos = 0

while True:
    
    key = data['key'][pos]
    lista.append(key)
    
    cmd = data['cmd'][pos]
    value = data['value'][pos]
        
    if cmd == 'acc':
        
        accumulator += value
        pos += 1
    
    if cmd == 'nop':
        pos += 1
        
    if cmd == 'jmp':
        pos += value
        
    key = data['key'][pos]
    
    if key in lista:
        break
        
accumulator

1217

### part2

In [62]:
data

     cmd  value           key
0    acc      0      0_ acc 0
1    jmp    516    1_ jmp 516
2    acc    -16    2_ acc -16
3    nop    326    3_ nop 326
4    jmp    366    4_ jmp 366
..   ...    ...           ...
605  acc     -2   605_ acc -2
606  acc     25   606_ acc 25
607  nop    -68  607_ nop -68
608  acc     14   608_ acc 14
609  jmp      1    609_ jmp 1

[610 rows x 3 columns]

In [68]:
data[data['cmd'] == 'nop'].index

Int64Index([  3,  10,  16,  48,  56,  59,  64,  66,  83, 110, 117, 132, 135,
            143, 144, 187, 197, 215, 220, 246, 250, 253, 257, 290, 295, 300,
            311, 318, 321, 331, 344, 348, 352, 354, 364, 368, 375, 377, 383,
            389, 395, 411, 424, 441, 471, 489, 504, 509, 526, 544, 550, 554,
            577, 582, 589, 590, 607],
           dtype='int64')

In [63]:
data.to_csv('P8__.csv')

In [64]:
lista = []
accumulator = 0
pos = 0
i = 0

while True:
    
    cmd = data['cmd'][pos]
    value = data['value'][pos]
    

        
        
accumulator

hard_break

6597

In [114]:
def run_loop(data):
    
    pos = 0
    accumulator = 0
    
    for i in range(10001):
        
        if pos >= data.shape[0]:
            print('Accu: ', accumulator)
            break

        cmd = data['cmd'][pos]
        value = data['value'][pos]

        if cmd == 'acc':

            accumulator += value
            pos += 1

        if cmd == 'nop':
            pos += 1

        if cmd == 'jmp':
            pos += value

    return False, accumulator

In [115]:
for combination in [('jmp', 'nop'), ('nop', 'jmp')]:
    idxes = list(data[data['cmd'] == combination[0]].index)
    idxes.reverse()
    for idx in idxes:
        data_ = data.copy()
        data_.iloc[idx, 0] = combination[1]
        try:
            run_loop(data_)
        except:
            break

Accu:  501