In [22]:
import pandas as pd
import numpy as np
import re

In [12]:
data = pd.read_csv('P2.csv', header=None, names=['condition', 'input'], sep=':')

In [33]:
conditions = pd.DataFrame(data['condition'].map(lambda x: x.replace(' ', '-').split('-')).to_list(), 
                          columns=['min', 'max', 'letter'])

data = pd.concat([data, conditions], axis=1).drop(columns=['condition'])

data['min'] = data['min'].astype('int')
data['max'] = data['max'].astype('int')

#### Part1

In [51]:
def between_func(value, min, max):
    if value >= min and value <= max:
        return 1
    else:
        return 0

In [58]:
data.apply(lambda row: between_func(row['input'].count(row['letter']), row['min'], row['max']), axis=1).sum()

418

#### Part2

In [95]:
def check_string(string, min, max, letter):
    string = string.strip()
    return (string[min-1] == letter or string[max-1] == letter) and not (string[min-1] == letter and string[max-1] == letter)

In [96]:
data.apply(lambda row: check_string(row['input'], row['min'], row['max'], row['letter']), axis=1).sum()

616

In [93]:
data

,input,min,max,letter,check_string,check_string2,check_string3
0,jjjqzmgbjwpj,1,4,j,True,j,j
1,sckwwf,2,4,w,False,k,s
2,bcbbbbbbbbbbhbb,1,13,b,True,b,b
3,xjxxxxxxxxzxxx,10,11,x,True,x,x
4,dddddddddddddd,13,14,d,True,d,d
...,...,...,...,...,...,...,...
995,hfffbkffnfffflffffff,12,13,f,True,f,h
996,jjljjjjjjdjfjhq,1,6,j,True,j,j
997,llllllllllll,11,12,l,True,l,l
998,hwqhspckdppznzwnmxhh,19,20,h,True,h,h
999,pkccwcgjpcxn,8,9,m,False,j,p