In [5]:
from itertools import combinations

In [1]:
import pandas as pd
data = pd.read_csv('P9.csv', header=None, names=['input'])
data

              input
0                50
1                32
2                17
3                18
4                 6
..              ...
995  47205792613292
996  74661931761239
997  51300472942117
998  58322180879504
999  60251067993757

[1000 rows x 1 columns]

### part1

In [34]:
def find_sum(subset, res):
    for c in combinations(subset, 2):
        summ = c[0] + c[1]
        if summ == res:
            #print(c, res)
            return True
            break

In [38]:
for idx in range(25, data.shape[0]):
    subset = data.iloc[idx-25:idx]['input'].to_list()
    res = data.iloc[idx][0]
    
    #print(idx, subset, res)
    #print(idx, find_sum(subset, res))
    
    if find_sum(subset, res) != True:
        print(subset, res)

[36765958, 49832269, 38765713, 38987955, 45879062, 59310522, 52128848, 57164796, 59733417, 54098150, 104109142, 63696691, 56945618, 67913684, 62514630, 62976400, 63015743, 86598227, 99319954, 102003698, 70742483, 75753913, 138268543, 138730313, 74357286] 69316178

### part3

In [43]:
result = 69316178
idx = data[data['input'] == result].index[0]
idx

555

In [45]:
lista = []
for i in range(idx):
    for j in range(idx):
        if j >= i:
            lista.append((i, j))

In [53]:
for loc in lista:
    subset = data.iloc[loc[0]:loc[1], 0]
    if subset.sum() == result:
        print(subset.min() + subset.max())

9351526