In [1]:
import numpy as np
import pandas as pd

In [18]:
data = pd.DataFrame(columns=['raw', 'answers'])

answers = ''
group_id = 1

with open('P6.csv') as f:
    lines=f.readlines()
    for i, line in enumerate(lines):
        
        answers = answers + line
        
        if line == '\n':
            
            data.loc[group_id, 'raw'] = answers
            data.loc[group_id, 'answers'] = "".join(set(answers.replace('\n', '')))
            answers = ''
            group_id += 1
            
data

,raw,answers
1,fbqjswm\nqmbjwfs\nfmsbjwq\nsmjbqwf\nhwsqmbfj\n\n,fbhswqjm
2,sxpoqbueg\nfbhxqzjrtdkgwaepos\nqbepgsxo\npbxvo...,bvzswcipeoalhtxfkduqjgr
3,gd\npfdy\n\n,pfdgy
4,yijwkdzvoub\ncifujkyvbwz\n\n,fbvkdzowucjiy
5,htumjfskxapveoblncy\ntkvfxpejomnbhcuslya\nxukp...,bvscypeoalhtxfkujnm
...,...,...
493,ndtoxjfsp\ntvjdeoxlp\nphxasrotjdn\n\n,fpvhedoastnxjrl
494,vcpzksneyxfo\nuevyhslzcpxgt\n\n,pfvhkezosuctnxgly
495,wpxvmnghz\nvmxphwz\nhvwxzkmp\n\n,phvkzwxngm
496,usvdwyomecfip\nsuweomifpvcdy\ncsiuwmvdpfeyo\nm...,fpvedosuwcmiy
497,hlqbanmtjy\ntdrvxcajgnfpoke\njtiunkpsroa\n\n,bvsciypeoalhtxfkduqjnrgm

In [22]:
data['yes_answers'] = data['answers'].map(lambda x: len(x))
data['yes_answers'].sum()

7120

#### part2

In [40]:
data = pd.DataFrame(columns=['answers'])

answers = []
group_id = 1

with open('P6.csv') as f:
    lines=f.readlines()
    for i, line in enumerate(lines):
        
        answers.append(line.replace('\n', ''))
        
        if line == '\n':
            
            data.loc[group_id, 'answers'] = answers[:-1]
            answers = []
            group_id += 1
            
data

                                               answers
1       [fbqjswm, qmbjwfs, fmsbjwq, smjbqwf, hwsqmbfj]
2    [sxpoqbueg, fbhxqzjrtdkgwaepos, qbepgsxo, pbxv...
3                                           [gd, pfdy]
4                           [yijwkdzvoub, cifujkyvbwz]
5    [htumjfskxapveoblncy, tkvfxpejomnbhcuslya, xuk...
..                                                 ...
493                [ndtoxjfsp, tvjdeoxlp, phxasrotjdn]
494                      [vcpzksneyxfo, uevyhslzcpxgt]
495                     [wpxvmnghz, vmxphwz, hvwxzkmp]
496  [usvdwyomecfip, suweomifpvcdy, csiuwmvdpfeyo, ...
497         [hlqbanmtjy, tdrvxcajgnfpoke, jtiunkpsroa]

[497 rows x 1 columns]

In [42]:
data['same_answers'] = data['answers'].map(lambda x: list(set.intersection(*[set(ex) for ex in x])))

In [43]:
data['same_answers'].map(lambda x: len(x)).sum()

3570